$main: #7f3896;
$main-dark: #612176;
$main-light: #a650c1;
$attention: #f42e22;
$attention-dark: #cf160b;
$attention-light: #ff5c52;
$accent: #fdcd25;
$accent-dark: #ed7200;
$accent-light: #ffe071;
$action: #0066ff;
$action-dark: #163666;
$action-light: #66a3ff;
$black: #000000;
$black-subtext: rgba(#000000, 0.7);
$black-secondary: rgba(#000000, 0.4);
$black-lines: rgba(#000000, 0.15);
$white: #ffffff;
$white-high: rgba(#ffffff, 0.7);
$white-low: rgba(#ffffff, 0.4);
